<div class="newsspec_12716__actions">
    <h2 class="newsspec_12716__title">{{= actions_title }}</h2>
    <h3 class="newsspec_12716__subtitle">{{= actions_subtitle_top_ten }}</h3>
    
    <p>{{= actions_chart_title }}</p>
    <div class="newsspec_12716__top-ten-vis">
        <div class="newsspec_12716__top-ten-vis_country newsspec_12716__top-ten-vis_country__china">
            <div class="newsspec_12716__top-ten-vis__block"></div>
            <div class="newsspec_12716__top-ten-vis__label">
                <span class="newsspec_12716__top-ten-vis__label__countryname">{{= china }}</span>
                <span class="newsspec_12716__top-ten-vis__label__percentage">24%</span>
            </div>
        </div>
        <div class="newsspec_12716__top-ten-vis_country newsspec_12716__top-ten-vis_country__usa">
            <div class="newsspec_12716__top-ten-vis__block"></div>
            <div class="newsspec_12716__top-ten-vis__label">
                <span class="newsspec_12716__top-ten-vis__label__countryname">{{= usa }}</span>
                <span class="newsspec_12716__top-ten-vis__label__percentage">12%</span>
            </div>
        </div>
        <div class="newsspec_12716__top-ten-vis_country newsspec_12716__top-ten-vis_country__eu">
            <div class="newsspec_12716__top-ten-vis__block"></div>
            <div class="newsspec_12716__top-ten-vis__label">
                <span class="newsspec_12716__top-ten-vis__label__countryname">{{= eu }}</span>
                <span class="newsspec_12716__top-ten-vis__label__percentage">9%</span>
            </div>
        </div>
        <div class="newsspec_12716__top-ten-vis_country newsspec_12716__top-ten-vis_country__india">
            <div class="newsspec_12716__top-ten-vis__block"></div>
            <div class="newsspec_12716__top-ten-vis__label">
                <span class="newsspec_12716__top-ten-vis__label__countryname">{{= india }}</span>
                <span class="newsspec_12716__top-ten-vis__label__percentage">6%</span>
            </div>
        </div>
        <div class="newsspec_12716__top-ten-vis_country newsspec_12716__top-ten-vis_country__brazil">
            <div class="newsspec_12716__top-ten-vis__block"></div>
            <div class="newsspec_12716__top-ten-vis__label">
                <span class="newsspec_12716__top-ten-vis__label__countryname">{{= brazil }}</span>
                <span class="newsspec_12716__top-ten-vis__label__percentage">6%</span>
            </div>
        </div>
        <div class="newsspec_12716__top-ten-vis_country newsspec_12716__top-ten-vis_country__russia">
            <div class="newsspec_12716__top-ten-vis__block"></div>
            <div class="newsspec_12716__top-ten-vis__label">
                <span class="newsspec_12716__top-ten-vis__label__countryname">{{= russia }}</span>
                <span class="newsspec_12716__top-ten-vis__label__percentage">5%</span>
            </div>
        </div>
        <div class="newsspec_12716__top-ten-vis_country newsspec_12716__top-ten-vis_country__japan">
            <div class="newsspec_12716__top-ten-vis__block"></div>
            <div class="newsspec_12716__top-ten-vis__label">
                <span class="newsspec_12716__top-ten-vis__label__countryname">{{= japan }}</span>
                <span class="newsspec_12716__top-ten-vis__label__percentage">3%</span>
            </div>
        </div>
        <div class="newsspec_12716__top-ten-vis_country newsspec_12716__top-ten-vis_country__canada">
            <div class="newsspec_12716__top-ten-vis__block"></div>
            <div class="newsspec_12716__top-ten-vis__label">
                <span class="newsspec_12716__top-ten-vis__label__countryname">{{= canada }}</span>
                <span class="newsspec_12716__top-ten-vis__label__percentage">2%</span>
            </div>
        </div>
        <div class="newsspec_12716__top-ten-vis_country newsspec_12716__top-ten-vis_country__dr_congo">
            <div class="newsspec_12716__top-ten-vis__block"></div>
            <div class="newsspec_12716__top-ten-vis__label">
                <span class="newsspec_12716__top-ten-vis__label__countryname">{{= dr_congo }}</span>
                <span class="newsspec_12716__top-ten-vis__label__percentage">1.5%</span>
            </div>
        </div>
        <div class="newsspec_12716__top-ten-vis_country newsspec_12716__top-ten-vis_country__indonesia">
            <div class="newsspec_12716__top-ten-vis__block"></div>
            <div class="newsspec_12716__top-ten-vis__label">
                <span class="newsspec_12716__top-ten-vis__label__countryname">{{= indonesia }}</span>
                <span class="newsspec_12716__top-ten-vis__label__percentage">1.5%</span>
            </div>
        </div>
    </div>
    <p class="newsspec_12716__source newsspec_12716__top-ten-source">{{= top_ten_source }}</p>

    <h3 class="newsspec_12716__subtitle">{{= actions_subtitle_limiting_damage }}</h3>
    <p class="newsspec_12716__paragraph">{{= limiting_damage_par_1 }}</p>
    <p class="newsspec_12716__paragraph">{{= limiting_damage_par_2 }}</p>
    <p class="newsspec_12716__paragraph">{{= limiting_damage_par_3 }}</p>

    <h3 class="newsspec_12716__subtitle">{{= actions_subtitle_ave_warming }}</h3>
    <div class="newsspec_12716__ave-warming-chart">
        <div class="newsspec_12716__ave-warming-chart__bar newsspec_12716__ave-warming-chart__bar--1">
            <div class="newsspec_12716__ave-warming-chart__bar__label">{{= ave_warming_bar_1 }}</div>
            <div class="newsspec_12716__ave-warming-chart__bar__value">
                <span>4.5</span>
            </div>
        </div>
        <div class="newsspec_12716__ave-warming-chart__bar newsspec_12716__ave-warming-chart__bar--2">
            <div class="newsspec_12716__ave-warming-chart__bar__label">{{= ave_warming_bar_2 }}</div>
            <div class="newsspec_12716__ave-warming-chart__bar__value">
                <span>3.6</span>
            </div>
        </div>
        <div class="newsspec_12716__ave-warming-chart__bar newsspec_12716__ave-warming-chart__bar--3">
            <div class="newsspec_12716__ave-warming-chart__bar__label">{{= ave_warming_bar_3 }}</div>
            <div class="newsspec_12716__ave-warming-chart__bar__value">
                <span>2.7</span>
            </div>
        </div>
        <div class="newsspec_12716__ave-warming-chart__threshold-line">{{= ave_warming_threshold }}</div>
    </div>
    <p class="newsspec_12716__source newsspec_12716__ave-warming-source">{{= ave_warming_source }}</p>
</div>