	<h2 class="newsspec_12716__title">{{= future_title }}</h2>
    <h3 class="newsspec_12716__subtitle">{{= future_subtitle }}</h3>
    <div class="newsspec_12716__future">
		<p>{{= future_par_1 }}</p>
		<p>{{= future_par_2 }}</p>
		<p>{{= future_par_3 }}</p>
		
    	<h3 class="newsspec_12716__subtitle">{{= future_vis_main_title }}</h3>
		<p>{{= future_vis_part_1_par_1 }}</p>
		<img src="{{= pathStatic }}/{{= vocab_dir }}/img/temperature/min.png" />
		<img src="{{= pathStatic }}/{{= vocab_dir }}/img/temperature/scale.png" />
		<p>{{= future_vis_part_2_par_1 }}</p>
		<img src="{{= pathStatic }}/{{= vocab_dir }}/img/temperature/max.png" />
		<p class="newsspec_12716__future--source">{{= future_vis_source }}</p>
    </div>
