    <h2 class="newsspec_12716__title">{{= greenhouse_title }}</h2>
    <h3 class="newsspec_12716__subtitle">{{= greenhouse_sub_title }}</h3>
    <p>
        {{= greenhouse_par_1 }}
    </p>
    <p>
        {{= greenhouse_par_2 }}
    </p>
    <p>
        {{= greenhouse_par_3 }}
    </p>

    <div class="newsspec_12716__greenhouse-gases-chart">
        <h4 class="newsspec_12716__greenhouse-gases-chart__header">{{= greenhouse_chart_key }}</h4>
        <img class="newsspec_12716__greenhouse-gases-chart__svg-alternative" src="{{= pathStatic }}/{{= vocab_dir }}/img/fallbacks/co2_concentration.png" alt="">
        <svg class="newsspec_12716__line-chart__svg newsspec_12716__greenhouse-gases-chart__svg"></svg>
        <p class="newsspec_12716__greenhouse-gases-chart__source">{{= greenhouse_chart_source }}</p>
    </div>