    <h2 class="newsspec_12716__title">{{= ice_title }}</h2>
    <h3 class="newsspec_12716__subtitle">{{= ice_subtitle }}</h3>
    <p>
        {{= ice_par_1 }}
    </p>
    <p>
        {{= ice_par_2 }}
    </p>
    <p>
        {{= ice_par_3 }}
    </p>
    <p>
        {{= ice_par_4 }}
    </p>

    <p>
        {{= ice_vis_key_fact }}
    </p>

    <div class="newsspec_12716__ice-caps-vis">
        <div class="newsspec_12716__ice-caps-vis__maps">
            <div class="newsspec_12716__ice-caps-vis__maps__section newsspec_12716__ice-caps__section--1980">
                <h4 class="newsspec_12716__ice-caps__section__header">1980</h4>
                <div class="newsspec_12716__ice-caps-vis__map-container">
                    <img class="newsspec_12716__ice-caps-vis__map-base" src="{{= pathStatic }}/{{= vocab_dir }}/img/ice_caps/base_map_02.png" alt="">
                    <!-- <object type="image/svg+xml" data="{{= pathStatic }}/{{= vocab_dir }}/img/ice_caps/1980-01.svg">
                        <img src="{{= pathStatic }}/{{= vocab_dir }}/img/ice_caps/1980-01.png" alt="">
                    </object> -->
                    <img class="newsspec_12716__ice-caps-vis__map-overlay" src="{{= pathStatic }}/{{= vocab_dir }}/img/ice_caps/1980-01.png" alt="">
                </div>
            </div>
            <div class="newsspec_12716__ice-caps-vis__maps__section newsspec_12716__ice-caps__section--1985">
                <h4 class="newsspec_12716__ice-caps__section__header">1985</h4>
                <div class="newsspec_12716__ice-caps-vis__map-container">
                    <img class="newsspec_12716__ice-caps-vis__map-base" src="{{= pathStatic }}/{{= vocab_dir }}/img/ice_caps/base_map_02.png" alt="">
                    <!-- <object type="image/svg+xml" data="{{= pathStatic }}/{{= vocab_dir }}/img/ice_caps/1985-01.svg">
                        <img src="{{= pathStatic }}/{{= vocab_dir }}/img/ice_caps/1985-01.png" alt="">
                    </object> -->
                    <img class="newsspec_12716__ice-caps-vis__map-overlay" src="{{= pathStatic }}/{{= vocab_dir }}/img/ice_caps/1985-01.png" alt="">
                </div>
            </div>
            <div class="newsspec_12716__ice-caps-vis__maps__section newsspec_12716__ice-caps__section--1990">
                <h4 class="newsspec_12716__ice-caps__section__header">1990</h4>
                <div class="newsspec_12716__ice-caps-vis__map-container">
                    <img class="newsspec_12716__ice-caps-vis__map-base" src="{{= pathStatic }}/{{= vocab_dir }}/img/ice_caps/base_map_02.png" alt="">
                    <!-- <object type="image/svg+xml" data="{{= pathStatic }}/{{= vocab_dir }}/img/ice_caps/1990-01.svg">
                        <img src="{{= pathStatic }}/{{= vocab_dir }}/img/ice_caps/1990-01.png" alt="">
                    </object> -->
                    <img class="newsspec_12716__ice-caps-vis__map-overlay" src="{{= pathStatic }}/{{= vocab_dir }}/img/ice_caps/1990-01.png" alt="">
                </div>
            </div>
            <div class="newsspec_12716__ice-caps-vis__maps__section newsspec_12716__ice-caps__section--1995">
                <h4 class="newsspec_12716__ice-caps__section__header">1995</h4>
                <div class="newsspec_12716__ice-caps-vis__map-container">
                    <img class="newsspec_12716__ice-caps-vis__map-base" src="{{= pathStatic }}/{{= vocab_dir }}/img/ice_caps/base_map_02.png" alt="">
                    <!-- <object type="image/svg+xml" data="{{= pathStatic }}/{{= vocab_dir }}/img/ice_caps/1995-01.svg">
                        <img src="{{= pathStatic }}/{{= vocab_dir }}/img/ice_caps/1995-01.png" alt="">
                    </object> -->
                    <img class="newsspec_12716__ice-caps-vis__map-overlay" src="{{= pathStatic }}/{{= vocab_dir }}/img/ice_caps/1995-01.png" alt="">
                </div>
            </div>
            <div class="newsspec_12716__ice-caps-vis__maps__section newsspec_12716__ice-caps__section--2000">
                <h4 class="newsspec_12716__ice-caps__section__header">2000</h4>
                <div class="newsspec_12716__ice-caps-vis__map-container">
                    <img class="newsspec_12716__ice-caps-vis__map-base" src="{{= pathStatic }}/{{= vocab_dir }}/img/ice_caps/base_map_02.png" alt="">
                    <!-- <object type="image/svg+xml" data="{{= pathStatic }}/{{= vocab_dir }}/img/ice_caps/2000-01.svg">
                        <img src="{{= pathStatic }}/{{= vocab_dir }}/img/ice_caps/2000-01.png" alt="">
                    </object> -->
                    <img class="newsspec_12716__ice-caps-vis__map-overlay" src="{{= pathStatic }}/{{= vocab_dir }}/img/ice_caps/2000-01.png" alt="">
                </div>
            </div>
            <div class="newsspec_12716__ice-caps-vis__maps__section newsspec_12716__ice-caps__section--2005">
                <h4 class="newsspec_12716__ice-caps__section__header">2005</h4>
                <div class="newsspec_12716__ice-caps-vis__map-container">
                    <img class="newsspec_12716__ice-caps-vis__map-base" src="{{= pathStatic }}/{{= vocab_dir }}/img/ice_caps/base_map_02.png" alt="">
                    <!-- <object type="image/svg+xml" data="{{= pathStatic }}/{{= vocab_dir }}/img/ice_caps/2005-01.svg">
                        <img src="{{= pathStatic }}/{{= vocab_dir }}/img/ice_caps/2005-01.png" alt="">
                    </object> -->
                    <img class="newsspec_12716__ice-caps-vis__map-overlay" src="{{= pathStatic }}/{{= vocab_dir }}/img/ice_caps/2005-01.png" alt="">
                </div>
            </div>
            <div class="newsspec_12716__ice-caps-vis__maps__section newsspec_12716__ice-caps__section--2010">
                <h4 class="newsspec_12716__ice-caps__section__header">2010</h4>
                <div class="newsspec_12716__ice-caps-vis__map-container">
                    <img class="newsspec_12716__ice-caps-vis__map-base" src="{{= pathStatic }}/{{= vocab_dir }}/img/ice_caps/base_map_02.png" alt="">
                    <!-- <object type="image/svg+xml" data="{{= pathStatic }}/{{= vocab_dir }}/img/ice_caps/2010-01.svg">
                        <img src="{{= pathStatic }}/{{= vocab_dir }}/img/ice_caps/2010-01.png" alt="">
                    </object> -->
                    <img class="newsspec_12716__ice-caps-vis__map-overlay" src="{{= pathStatic }}/{{= vocab_dir }}/img/ice_caps/2010-01.png" alt="">
                </div>
            </div>
            <div class="newsspec_12716__ice-caps-vis__maps__section newsspec_12716__ice-caps__section--2015">
                <h4 class="newsspec_12716__ice-caps__section__header">2015</h4>
                <div class="newsspec_12716__ice-caps-vis__map-container">
                    <img class="newsspec_12716__ice-caps-vis__map-base" src="{{= pathStatic }}/{{= vocab_dir }}/img/ice_caps/base_map_02.png" alt="">
                    <!-- <object type="image/svg+xml" data="{{= pathStatic }}/{{= vocab_dir }}/img/ice_caps/2015-01.svg">
                        <img src="{{= pathStatic }}/{{= vocab_dir }}/img/ice_caps/2015-01.png" alt="">
                    </object> -->
                    <img class="newsspec_12716__ice-caps-vis__map-overlay" src="{{= pathStatic }}/{{= vocab_dir }}/img/ice_caps/2015-01.png" alt="">
                    <img class="newsspec_12716__ice-caps-vis__map-overlay" src="{{= pathStatic }}/{{= vocab_dir }}/img/ice_caps/uk_highlighted-01.png" alt="">
                </div>
            </div>

            <div class="newsspec_12716__ice-caps-vis__maps-key">
                <div class="newsspec_12716__ice-caps-vis__country-label newsspec_12716__ice-caps-vis__country-label--canada"><span class="">{{= canada }}</span></div>
                <div class="newsspec_12716__ice-caps-vis__country-label newsspec_12716__ice-caps-vis__country-label--greenland">{{= greenland }}</div>
                <div class="newsspec_12716__ice-caps-vis__country-label newsspec_12716__ice-caps-vis__country-label--russia">{{= russia }}</div>
                <div class="newsspec_12716__ice-caps-vis__country-label newsspec_12716__ice-caps-vis__country-label--uk">{{= uk }}</div>
                <div class="newsspec_12716__ice-caps-vis__country-label newsspec_12716__ice-caps-vis__country-label--us">{{= usa }}</div>

                <div class="newsspec_12716__ice-caps-vis__maps-label newsspec_12716__ice-caps-vis__maps-label--median">
                    <span class="newsspec_12716__ice-caps-vis__maps-label__marker">{{= ice_vis_label_median_1 }}</span>
                    <span class="newsspec_12716__ice-caps-vis__maps-label__quant">{{= ice_vis_label_median_2 }}</span>
                </div>
                <div class="newsspec_12716__ice-caps-vis__maps-label newsspec_12716__ice-caps-vis__maps-label--extent">
                    <span class="newsspec_12716__ice-caps-vis__maps-label__marker">{{= ice_vis_label_extent_1 }}</span>
                    <span class="newsspec_12716__ice-caps-vis__maps-label__quant">{{= ice_vis_label_extent_2 }}</span>
                </div>
            </div>
        </div>

        <p class="newsspec_12716__ice-caps-vis__legend">{{= ice_vis_chart_title }}</p>

        <ol class="newsspec_12716__ice-caps-vis__x-axis" aria-hidden="true">
            <li class="newsspec_12716__ice-caps-vis__x-axis--1980">1980</li>
            <li class="newsspec_12716__ice-caps-vis__x-axis--1985">1985</li>
            <li class="newsspec_12716__ice-caps-vis__x-axis--1990">1990</li>
            <li class="newsspec_12716__ice-caps-vis__x-axis--1995">1995</li>
            <li class="newsspec_12716__ice-caps-vis__x-axis--2000">2000</li>
            <li class="newsspec_12716__ice-caps-vis__x-axis--2005">2005</li>
            <li class="newsspec_12716__ice-caps-vis__x-axis--2010">2010</li>
            <li class="newsspec_12716__ice-caps-vis__x-axis--2015">2015</li>
        </ol>

        <div class="newsspec_12716__ice-caps-vis__area-chart">
            <div class="newsspec_12716__ice-caps-vis__area-chart__section newsspec_12716__ice-caps-vis__area-chart__section--1980">
                <div class="newsspec_12716__ice-caps-vis__area-chart__area-container">
                    <!-- <object type="image/svg+xml" data="{{= pathStatic }}/{{= vocab_dir }}/img/ice_caps/polar_ice_charts_1980-01.svg">
                        <img src="{{= pathStatic }}/{{= vocab_dir }}/img/ice_caps/polar_ice_charts_1980-01.png" alt="">
                    </object> -->
                    <img src="{{= pathStatic }}/{{= vocab_dir }}/img/ice_caps/polar_ice_charts_1980-01.png" alt="">
                </div>
            </div>

            <div class="newsspec_12716__ice-caps-vis__area-chart__section newsspec_12716__ice-caps-vis__area-chart__section--2015">
                <div class="newsspec_12716__ice-caps-vis__area-chart__area-container">
                    <!-- <object type="image/svg+xml" data="{{= pathStatic }}/{{= vocab_dir }}/img/ice_caps/polar_ice_charts_2015-01.svg">
                        <img src="{{= pathStatic }}/{{= vocab_dir }}/img/ice_caps/polar_ice_charts_2015-01.png" alt="Area chart showing the decline in sea ice from 1980 to 2015">
                    </object> -->
                    <img src="{{= pathStatic }}/{{= vocab_dir }}/img/ice_caps/polar_ice_charts_2015-01.png" alt="Area chart showing the decline in sea ice from 1980 to 2015">
                </div>
             </div>

            <ol class="newsspec_12716__ice-caps-vis__area-chart__ticks" aria-hidden="true">
                <li class="newsspec_12716__ice-caps-vis__tick newsspec_12716__ice-caps-vis__tick--1980"></li>
                <li class="newsspec_12716__ice-caps-vis__tick newsspec_12716__ice-caps-vis__tick--1985"></li>
                <li class="newsspec_12716__ice-caps-vis__tick newsspec_12716__ice-caps-vis__tick--1990"></li>
                <li class="newsspec_12716__ice-caps-vis__tick newsspec_12716__ice-caps-vis__tick--1995"></li>
                <li class="newsspec_12716__ice-caps-vis__tick newsspec_12716__ice-caps-vis__tick--2000"></li>
                <li class="newsspec_12716__ice-caps-vis__tick newsspec_12716__ice-caps-vis__tick--2005"></li>
                <li class="newsspec_12716__ice-caps-vis__tick newsspec_12716__ice-caps-vis__tick--2010"></li>
                <li class="newsspec_12716__ice-caps-vis__tick newsspec_12716__ice-caps-vis__tick--2015"></li>
            </ol>
        </div>
        <p class="newsspec_12716__source newsspec_12716__ice-caps-vis__source">{{= ice_vis_source }}</p>
        <div class="newsspec_12716__ice-caps-vis__replay-button-container">
            <button class="newsspec_12716__replay newsspec_12716__ice-caps-vis__replay">{{= replay }}</button>
        </div>
    </div>