<div class="newsspec_12716__title-screen">
    <h1 class="newsspec_12716__title-screen__main-title">{{= main_title }}</h1>
</div>
<p class="newsspec_12716__title-screen__main-standfirst">{{= main_standfirst }}</p>