$debug: false;
$which-env: local;
$scaffold-lite: false;
$project_number: 12716;
$year: 2015;
$image-widths: (320, 640, 1024);
$services-default: english;
$services-others: (persian, pashto, russian, turkish, french, chinese_simp, hausa, hindi, indonesia, mundo, nepali, portuguese, somali, swahili, ukrainian, urdu, uzbek, vietnamese, arabic);
