.newsspec_12716__future {

    img {
        width: 96%;
        max-width: 646px;
        margin: 12px auto;
        display: block;
    }
    .newsspec_12716__future--source {
        width: 100%;
        max-width: 646px;
        margin: 12px auto;
        font-size: 0.813em;
    }
}
